mat-toolbar span {
    margin-left: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.inner-container {
    width: 70%;
    max-width: 100%;
    overflow: auto;
    margin-top: 50px;
}
mat-form-field {
    width: 70%;
    padding-top: 10px;
  }
.button-form{
    width: 20%;
    height: 52px;
    margin-left: 50px;
}
.table-card{
    max-width: 100%;
    margin-bottom: 50px;
}

.list{
    border: 0.5px solid white;
}

.list2{
    background-color: white;
    color: black;
}