<mat-toolbar color="primary">
      <span>Technical exam </span>
      <span>-</span>
      <span>URL Shortener</span>
</mat-toolbar>

<div class="container">
    <div class="inner-container">
        <mat-card class="table-card">
            <mat-list role="list">
                <mat-list-item role="listitem">Item 1</mat-list-item>
                <mat-list-item role="listitem">Item 2</mat-list-item>
                <mat-list-item role="listitem">Item 3</mat-list-item>
              </mat-list>
        </mat-card>
    </div>
</div>